<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8" />
    <link href= "/assets/styles.css" rel="stylesheet" type="text/css" />

	<title>Welcome</title>
    <body>
        <h1>La Liga Teams Standing 2021-2022</h1>
        <span><%- teamsTable %></span>
        <a href = "/laliga">HOME</a>

</head>
</html>
