<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8" />
    <link href= "/assets/styles.css" rel="stylesheet" type="text/css" />

	<title>Welcome</title>
    <body>
        <h1>Welcome to Team builder and Team stats</h1>
        <h2>Our website allows you to build a Pokemon Team or view the stats of La Liga team</h2>
            <ul>
                <li>To go to the Pokemon Team Builder press <a href = "/pokemonTeamBuilder">Pokemon Team Builder</a></li>
                <li>To go to the La Liga team stats<a href = "/laLiga">La Liga</a></li>
            </ul>
            <hr>
    </body>
</head>
</html>
