<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                background-color: #0d0e0f;
            }

            body,
            input,
            textarea,
            select {
                color: white;
                font: 400 1rem "Roboto", sans-serif;
            }

            .add {
                border-radius: 8px 8px 8px 8px;
                border: 0;
                outline: none;
                height: 20px;
                padding: 4px 16px;
                background-color: white;
                color: #000;
            }

            h5 {
                text-align: center;
            }

            button {
                cursor: pointer;
            }

            a {
                color: inherit;
                text-decoration: none;
                cursor: pointer;
            }

            main {
                width: 80%;
                margin: 0 auto;
                margin-top: 2rem;
            }

            .searchBox,
            .searchBox2,
            .searchBox3,
            .searchBox4,
            .searchBox5,
            .searchBox6 {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .searchBox input,
            .searchBox2 input,
            .searchBox3 input,
            .searchBox4 input,
            .searchBox5 input,
            .searchBox6 input {
                border-radius: 8px 0 0 8px;
                border: 0;
                outline: none;
                height: 36px;
                padding: 4px 16px;
                background-color: white;
                color: #000;
            }

            .searchBox button,
            .searchBox2 button,
            .searchBox3 button,
            .searchBox4 button,
            .searchBox5 button,
            .searchBox6 button {
                border-radius: 0 8px 8px 0;
                border: 0;
                height: 36px;
                padding: 4px 16px;
                background-color: white;
            }

            .pokemonBox, 
            .pokemonBox2, 
            .pokemonBox3, 
            .pokemonBox4, 
            .pokemonBox5, 
            .pokemonBox6 {
                display: flex;
                margin-top: 2rem;
                justify-content: center;
            }

            .pokemonBox img,
            .pokemonBox2 img,
            .pokemonBox3 img,
            .pokemonBox4 img,
            .pokemonBox5 img,
            .pokemonBox6 img {
                width: 100px;
            }

            .pokemonBox p,
            .pokemonBox2 p,
            .pokemonBox3 p,
            .pokemonBox4 p,
            .pokemonBox5 p,
            .pokemonBox6 p {
                margin-top: 1rem;
            }

            .pokemonBox,
            .pokemonBox2,
            .pokemonBox3,
            .pokemonBox4,
            .pokemonBox5,
            .pokemonBox6 {
                padding: 2rem;
            }

            .submit {
                text-align: center;
                padding: 5px;
            }

            .submit input {
                height: 25px;
            }
        </style>
        
        <title>Pokemon API</title>
    </head>

    <body>
        <main>
            <form action="<%- url %>" method="post" onsubmit="return validate()">
                <br><br>
                <h1 style="text-align: center">Pokemon Team Builder</h1>
                <h5>Note: Generation 9 Pokemon are unavialable</h5><br><br>
                    <div class="searchBox">
                        <input id="pokemonName" type="text" placeholder="Pokemon Name" name="pokemon1" value="Pikachu">
                        <button type="button" id="search">🔎</button>
                    </div>
                    <div class="pokemonBox">
                        <div>
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                            alt="Pikachu">
                        </div>
                        <div class="pokemonInfo">
                            <h1>Pikachu</h1>
                            <p>Type(s): Electric</p><br>
                        </div>
                    </div>

                    <div class="searchBox2">
                        <input id="pokemonName2" type="text" placeholder="Pokemon Name" name="pokemon2" value="Pikachu">
                        <button type="button" id="search2">🔎</button>
                    </div>
                    <div class="pokemonBox2">
                        <div>
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                            alt="Pikachu">
                        </div>
                        <div class="pokemonInfo2">
                            <h1>Pikachu</h1>
                            <p>Type(s): Electric</p><br>
                        </div>
                    </div>
        
                    <div class="searchBox3">
                        <input id="pokemonName3" type="text" placeholder="Pokemon Name" name="pokemon3" value="Pikachu">
                        <button type="button" id="search3">🔎</button>
                    </div>
                    <div class="pokemonBox3">
                        <div>
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                            alt="Pikachu">
                        </div>
                        <div class="pokemonInfo3">
                            <h1>Pikachu</h1>
                            <p>Type(s): Electric</p><br>
                        </div>
                    </div>

                    <div class="searchBox4">
                        <input id="pokemonName4" type="text" placeholder="Pokemon Name" name="pokemon4" value="Pikachu">
                        <button type="button" id="search4">🔎</button>
                    </div>
                    <div class="pokemonBox4">
                        <div>
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                            alt="Pikachu">
                        </div>
                        <div class="pokemonInfo4">
                            <h1>Pikachu</h1>
                            <p>Type(s): Electric</p><br>
                        </div>
                    </div>

                    <div class="searchBox5">
                        <input id="pokemonName5" type="text" placeholder="Pokemon Name" name="pokemon5" value="Pikachu">
                        <button type="button" id="search5">🔎</button>
                    </div>
                    <div class="pokemonBox5">
                        <div>
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                            alt="Pikachu">
                        </div>
                        <div class="pokemonInfo5">
                            <h1>Pikachu</h1>
                            <p>Type(s): Electric</p><br>
                        </div>
                    </div>
        
                    <div class="searchBox6">
                        <input id="pokemonName6" type="text" placeholder="Pokemon Name" name="pokemon6" value="Pikachu">
                        <button type="button" id="search6">🔎</button>
                    </div>
                    <div class="pokemonBox6">
                        <div>
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                            alt="Pikachu">
                        </div>
                        <div class="pokemonInfo6">
                            <h1>Pikachu</h1>
                            <p>Type(s): Electric</p><br>
                        </div>
                    </div><br><br>
                    <div class="submit"><input type="submit" class="add" value="Add All Pokemon"></div><br><br>
                    <p style="text-align: center">To remove all Pokemon Teams, click <a href="/pokemonTeamBuilder/adminRemove"><u>Remove All Pokemon Teams</u></a></p>
                    <br><br><br><br><br>
            </form>
        </main>
        
        <script>
            document.querySelector("#search").addEventListener("click", getPokemon1);
            document.querySelector("#search2").addEventListener("click", getPokemon2);
            document.querySelector("#search3").addEventListener("click", getPokemon3);
            document.querySelector("#search4").addEventListener("click", getPokemon4);
            document.querySelector("#search5").addEventListener("click", getPokemon5);
            document.querySelector("#search6").addEventListener("click", getPokemon6);

            function capitalizeFirst(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }

            function lowerCaseName(string) {
                return string.toLowerCase();
            }

            function getPokemon1(e) {
                const name = document.querySelector("#pokemonName").value;
                const nameLower = lowerCaseName(name);
                fetch(`https://pokeapi.co/api/v2/pokemon/${nameLower}`)
                .then((response) => response.json())
                .then((data) => {
                    if (data.types.length === 2) {
                        document.querySelector(".pokemonBox").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}, ${capitalizeFirst(data.types[1].type.name)}</p><br>
                        </div>
                        `;
                    } else {
                        document.querySelector(".pokemonBox").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}</p><br>
                        </div>
                        `;
                    }
                }).catch((err) => {
                    console.log("Error: ", err)
                });

                e.preventDefault();
            }

            function getPokemon2(e) {
                const name = document.querySelector("#pokemonName2").value;
                const nameLower = lowerCaseName(name);
                fetch(`https://pokeapi.co/api/v2/pokemon/${nameLower}`)
                .then((response) => response.json())
                .then((data) => {
                    if (data.types.length === 2) {
                        document.querySelector(".pokemonBox2").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo2">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}, ${capitalizeFirst(data.types[1].type.name)}</p>
                        </div>
                        `;
                    } else {
                        document.querySelector(".pokemonBox2").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo2">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}</p>
                        </div>
                        `;
                    }
                }).catch((err) => {
                    console.log("Error: ", err)
                });

                e.preventDefault();
            }

            function getPokemon3(e) {
                const name = document.querySelector("#pokemonName3").value;
                const nameLower = lowerCaseName(name);
                fetch(`https://pokeapi.co/api/v2/pokemon/${nameLower}`)
                .then((response) => response.json())
                .then((data) => {
                    if (data.types.length === 2) {
                        document.querySelector(".pokemonBox3").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo3">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}, ${capitalizeFirst(data.types[1].type.name)}</p>
                        </div>
                        `;
                    } else {
                        document.querySelector(".pokemonBox3").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo3">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}</p>
                        </div>
                        `;
                    }
                }).catch((err) => {
                    console.log("Error: ", err)
                });

                e.preventDefault();
            }

            function getPokemon4(e) {
                const name = document.querySelector("#pokemonName4").value;
                const nameLower = lowerCaseName(name);
                fetch(`https://pokeapi.co/api/v2/pokemon/${nameLower}`)
                .then((response) => response.json())
                .then((data) => {
                    if (data.types.length === 2) {
                        document.querySelector(".pokemonBox4").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo4">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}, ${capitalizeFirst(data.types[1].type.name)}</p><br>
                        </div>
                        `;
                    } else {
                        document.querySelector(".pokemonBox4").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo4">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}</p><br>
                        </div>
                        `;
                    }
                }).catch((err) => {
                    console.log("Error: ", err)
                });

                e.preventDefault();
            }

            function getPokemon5(e) {
                const name = document.querySelector("#pokemonName5").value;
                const nameLower = lowerCaseName(name);
                fetch(`https://pokeapi.co/api/v2/pokemon/${nameLower}`)
                .then((response) => response.json())
                .then((data) => {
                    if (data.types.length === 2) {
                        document.querySelector(".pokemonBox5").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo5">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}, ${capitalizeFirst(data.types[1].type.name)}</p>
                        </div>
                        `;
                    } else {
                        document.querySelector(".pokemonBox5").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo5">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}</p>
                        </div>
                        `;
                    }
                }).catch((err) => {
                    console.log("Error: ", err)
                });

                e.preventDefault();
            }

            function getPokemon6(e) {
                const name = document.querySelector("#pokemonName6").value;
                const nameLower = lowerCaseName(name);
                fetch(`https://pokeapi.co/api/v2/pokemon/${nameLower}`)
                .then((response) => response.json())
                .then((data) => {
                    if (data.types.length === 2) {
                        document.querySelector(".pokemonBox6").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo6">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}, ${capitalizeFirst(data.types[1].type.name)}</p>
                        </div>
                        `;
                    } else {
                        document.querySelector(".pokemonBox6").innerHTML = `
                        <div>
                            <img 
                            src="${data.sprites.other["official-artwork"].front_default}" 
                            alt="${capitalizeFirst(data.name)}">
                        </div>
                        <div class="pokemonInfo6">
                            <h1>${capitalizeFirst(data.name)}</h1>
                            <p>Type(s): ${capitalizeFirst(data.types[0].type.name)}</p>
                        </div>
                        `;
                    }
                }).catch((err) => {
                    console.log("Error: ", err)
                });

                e.preventDefault();
            }

            function validate() {
                let message = "";
                message += "Are you sure you want to submit your application?\nYou will not be able to change your information once submitted.";
                if (confirm(message) === false) {
                    return false;
                } else {
                    return true;
                }
            }
        </script>
    </body>
</html>