<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                background-color: #0d0e0f;
            }

            body {
                color: white;
                font: 400 1rem "Roboto", sans-serif;
                text-align: center;
            }
        </style>
        
        <title>Remove Pokemon Teams</title>
    </head>

    <body>
        <br><br>
        <h1 style="text-align: center">Removal of All Applications</h1> <br><br>

        <p>All Pokemon Teams have been removed from the database. Number of teams removed: <%- numTeams %></p><br>

        <a href="/">HOME</a>

    </body>
</html>