<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" >
    <title>Application</title>
    <link href= "/assets/styles.css" rel="stylesheet" type="text/css" />

<body>
    <form id="myForm" action=<%-address %> method="post" onsubmit = "return confirm1()">
        <h1>Remove All Applicants</h1>
        <br>
        <input type="submit" value="Remove all applicants">
        <hr>
        <br>
        <a href="/laliga">HOME</a>
    </form>
    <script>
        function confirm1(){
            return window.confirm("Are you sure you want to remove all applications?");
            
        }
    </script>
   
</body>
</head>

</html>