<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8" />
    <link href= "/assets/styles.css" rel="stylesheet" type="text/css" />

	<title>Welcome</title>
    <body>
        <h1>Teams Stats</h1>
        <span>You have removed <%- count %> teams. Please go back to Home if you want to add more teams</span>
        <a href = "/laliga">HOME</a>

</head>
</html>
