<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8" />
    <link href= "/assets/styles.css" rel="stylesheet" type="text/css" />

	<title>Welcome</title>
    <body>
        <h1>Teams Insertion</h1>
        <span>You have inserted <%- count %> teams. Please go back to Home and view the stats of the teams you have entered.</span>
        <a href = "/laliga">HOME</a>

</head>
</html>
